*{
    box-sizing: border-box;
}

div {
    border: 1px solid black;
    margin: 5px;
}

button {
    padding: 8px;
    flex-grow: 1;
    font-size: 30px;
}

#display {
    font-size: 80px;
    text-align: right;
    height: 100px;
    padding-right: 1px;
    padding-bottom: 2px;
}

.row {
    display:flex;
    flex-grow: 1;
    justify-content: space-around;
    gap: 10px;
}

.digit.zero {
    flex-grow: 2.3;
}

#clear {
    flex-grow: 3.4;
}

#frame {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
header {
    margin: 50px;
    text-align: center;
}
footer {
    margin: 50px;
    text-align: center;
}